@page "/"

<PageTitle>Home</PageTitle>

<section class="flex flex-col items-center">
    <h1 class="text-2xl text-black-800">Hello World</h1>
    <article class="text-xl text-black-500">
        Welcome to your new app integrated with tailwind Flow bite plugin.
    </article>
</section>
